* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #160329;
    overflow-x: hidden;
}

#header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1000;
    top: 0;
    padding-bottom: 10px;
}

#headerBG {
    background: hsl(0, 0%, 20%);
    opacity: 0;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

#header_content {
    height: inherit;
    display: table;
    width: 944px;
    margin: 0 auto;
    z-index: inherit;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

#headerMiniCenteringDiv {
    width: 735px;
    height: inherit;
    margin: 0 auto;
    position: relative;
}

#headerMini {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1000;
    top: 0;
    padding-bottom: 10px;
    visibility: hidden;
    background: hsl(0, 0%, 20%);
}

#miniMenuCurrentSection {
    text-align:right;
    position:absolute;
    width:inherit;
    height:inherit;
    font-size:14px;
    right:95px;
    top:25px;
    color:lightgray;
    text-decoration:none;
    font-weight:bold;
    cursor: help;
}

.menuLinksMini {
    display: block;
    width: 695px;
    height: 40px;
    text-decoration: none;
    color: white;
    position: relative;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.menuLinksMini:hover {
    font-weight: bold;
}

#header_content_mini {
    height: auto;
    min-height: 40px;
    position:fixed;
    top: 80px;
    width: 100%;
    z-index: 1000;
    background: hsl(0, 0%, 20%);
    border-top: solid 1px gray;
    padding-top: 10px;
    display: block;
    visibility: hidden;
}

.menuButtonMini {
    height: inherit;
    text-align: left;
    cursor: pointer;
    border: none;
    position: relative;
    vertical-align: middle;
    display: block;
    font-size: 14px;
}

.menuButtonULobjectMini {
    position: relative;
    height: 1px;
    background: white;
    z-index: 21;
    display: none;
}

#logo {
    display: inline;
    z-index: inherit;
    cursor: pointer;
}

.menu {
    display: table-cell;
    height: inherit;
    z-index: inherit;
    position: relative;
}

#leftMenuButtons {
    text-align: left;
    float: left;
    display: table-cell;
    height: inherit;
    z-index: inherit;
    position: relative;
}

#rightMenuButtons{
    text-align: right;
    float: right;
    display: table-cell;
    height: inherit;
    z-index: inherit;
}

.menuButton {
    display: table-cell;
    font-size: 14px;
    z-index: inherit;
    width: fit-content;
    height: inherit;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    vertical-align: middle;
    position: relative;
}


.menuLinks {
    display: table-cell;
    z-index: inherit;
    height: inherit;
    width: auto;
    min-width: 10px;
    text-decoration: none;
    color: white;
}

.menuButtonULobject {
    position: absolute;
    height: 1px;
    width: 100%;
    background: white;
    z-index: 21;
    display: none;
    top:43px;
}


#homepage {
    position: relative;
    width: 100%;
    z-index: 2;
    min-height: 50px;
    overflow-x: hidden;
    height: auto;
    font-size: 12px;
    color: white;
}

#homepageVid {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: fill;
    z-index: 1;
    opacity: 0.1;
    margin-left: auto;
    margin-right: auto;
}

.menuDock {
    float: top;
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 3;
}

#homePageContent {
    position: relative;
    z-index: 3;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.pageSection {
    min-width: 10px;
    width: auto;
    max-width: 944px;
    height: auto;
    min-height: 10px;
    margin: 0 auto;
}

.pageSectionA {
    min-width: 10px;
    width: auto;
    max-width: 924px;
    height: auto;
    min-height: 10px;
    margin: 0 auto;
}

.pageSectionB {
    min-width: 10px;
    width: auto;
    max-width: 924px;
    height: auto;
    min-height: 10px;
    margin: 0 auto;
    text-align: center;
}

.pageSectionC {
    min-width: 10px;
    width: auto;
    max-width: 922px;
    height: auto;
    min-height: 10px;
    margin: 0 auto;
}

.darkHPsection {
    border-radius: 20px;
    background: hsla(180, 100%, 50%, 0.25);
    padding: 10px;
    margin: 0 auto;
    min-width: 50px;
    width: auto;
    max-width: 944px;
    min-height: 10px;
    height: auto;
}

.lightHPsection {
    border-radius: 20px;
    background: hsla(210, 100%, 50%, 0.25);
    padding: 10px;
    margin: 0 auto;
    min-width: 50px;
    width: auto;
    max-width: 944px;
    min-height: 10px;
    height: auto;
    text-align: right;
}

#search {
    position: relative;
    height: auto;
    min-height: 50px;
    font-size: 12px;
    overflow-x: hidden;
    color: white;
    text-align: left;
}

#speciesSelectionContainer {
    position: relative;
    width: 944px;
    height: 160px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
}

#speciesSelections {
    display: table-cell;
    position: relative;
    height: inherit;
    min-width: 400px;
    width: auto;
    float: left;
}

#speciesSelection1 {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    /*width: inherit;
    height: inherit;
    margin-top: -70px;*/
}

#speciesSelection2 {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    /*width: inherit;
    height: inherit;
    margin-top: -70px;*/
}

#speciesLeftArrow {
    cursor: pointer;
    height:40px;
    position: relative;
    display: table-cell;
    margin-top: 40px;
    float: left;
    margin-right: 16px;
}

#speciesRightArrow {
    cursor: pointer;
    position: absolute;
    height:40px;
    display: table-cell;
    top: 40px;
    right: 245px;
}

.speciesIcon {
    padding-left: 30px;
    padding-right: 30px;
    display: table-cell;
    position: relative;
    cursor: pointer;
}

.inDev {
    color: lightgray;
}

.searchType {
    padding: 10px;
    min-width: 50px;
    width: 200px;
    display: table-cell;
    border-radius: 20px;
    background: hsla(240, 75%, 50%, 0.25);
    font-size: 14px;
    cursor: pointer;
    text-align: right;
    position: absolute;
    right: 0;
    height: auto;
    min-height: 10px;
}

#searchInputText {
    color:#595959;
    font-size:24px;
    text-align: left;
    height: 28px;
    padding: 5px;
    font-size:18px;
    display: inline-block;
    width: 519px;
    position: relative;
    border: solid 1px white;
}

#searchGObutton {
    background: rebeccapurple;
    color: white;
    border: solid 0px white;
    width: 125px;
    height: auto;
    min-height: 24px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;

}

#searchGObutton:hover {
    font-weight: bold;
    text-decoration: underline;
}

#downloads {
    position: relative;
    width: 100%;
    z-index: 2;
    min-height: 10px;
    overflow-x: hidden;
    height: auto;
    font-size: 12px;
    color: white;
    padding-top: 20px;
}

#downloadsPageContent {
    position: relative;
    z-index: 3;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

#background {
    position: relative;
    width: 100%;
    z-index: 2;
    min-height: 50px;
    overflow-x: hidden;
    height: auto;
    font-size: 12px;
    color: white;
    padding-top: 20px;
}

#backgroundPageContent {
    position: relative;
    z-index: 3;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

#RNAi-Process-Image{
    margin: 0 auto;
    width: 942px;
    border: 1px solid white;
    position: relative;
    display: block;
}


#about {
    position: relative;
    width: 100%;
    z-index: 2;
    min-height: 50px;
    overflow-x: hidden;
    height: auto;
    font-size: 12px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#aboutPageContent {
    position: relative;
    z-index: 3;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.aboutLinks {
    color: white;
}

.aboutLinks:hover {
    color: Chartreuse;
}

.aboutLinks:visited {
    color: white;
}

.aboutLinks:visited:hover {
    color: Chartreuse;
}

#resultGhost {
    position: fixed;
    top: 0;
    z-index: 996;
    width: 100vw;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.85);
}

.resultGhostSide{
    position: fixed;
    top: 0;
    z-index: 997;
    height: 100vh;
}

#searchResults {
    height: auto;
    min-height: 50px;

    width: 100%;
    background: hsl(280, 100%, 15%);
    top: 80px;
    position: absolute;
    font-size: 14px;
    text-align: center;
    display: none;
    z-index: 998;
    color: white;
    padding-bottom: 20px;

    /*word-wrap:break-word;*/
}

#searchResults2 {
    height: auto;
    min-height: 50px;

    width: 100%;

    top: 80px;
    position: absolute;
    font-size: 14px;
    text-align: left;
    display: none;
    z-index: 998;
    color: white;

    /*word-wrap:break-word;*/
}

#searchResultsContent {
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
    width: 944px;
    background: hsl(280, 100%, 15%);

}

#searchDetails {
    width: 944px;
    display: block;
}

.searchDetailLeftA {
    width: 442px;
    margin-left:20px;

    text-align: right;
    display:inline-block;
    background: black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    color: white;
    font-size: 12px;

}

.searchDetailRightA {
    width: 442px;
    margin-right: 20px;

    text-align: left;
    display: inline-block;
    background: #d0d0d0;

    font-size: 12px;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    color: black;
}

.searchDetailLeftB {
    width: 442px;
    margin-left:20px;

    text-align: right;
    display:inline-block;
    background: #282828;
    font-size: 12px;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    color: white;

}

.searchDetailRightB {
    width: 442px;
    margin-right: 20px;

    text-align: left;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    color: black;
    background: white;
    font-size: 12px;
}

#downloadIconS{
    position: absolute;
    right: 20px;
    top: 20px;
}
#downloadIconS:hover{
    cursor: pointer;
}

#downloadIconM{
    position: absolute;
    right: 20px;
    top: 20px;
}
#downloadIconM:hover{
    cursor: pointer;
}

#downloadIconL{
    position: absolute;
    right: 20px;
    top: 20px;
}
#downloadIconL:hover{
    cursor: pointer;
}

#resultsTableL{
    width: 944px;
    display: block;
}

#resultsTableM{
    width: 695px;
    display: block;
}

#resultsTableS{
    width: 100%;
    display: block;
}

#resultsTableXS{
    width: 100%;
    display: block;
}

.bedLocation {
    font-size: 12px;
    height: 17px;
    width: 184px;
    padding-left: 4px;
    padding-right: 2px;
    background: #72613c;
    display: inline-block;
    margin-left: 20px;
    margin-top:3px;
}

.bedID {
    font-size: 12px;
    height: 17px;
    width: 88px;
    padding-left: 4px;
    padding-right: 2px;
    margin-left:2px;
    background: #723c3d;
    display: inline-block;
}

.bedStage {
    font-size: 12px;
    height: 17px;
    width: 131px;
    padding-left: 4px;
    padding-right: 2px;
    margin-left:2px;
    background: #6f3c72;
    display: inline-block;
}

.bedSource {
    font-size: 12px;
    height: 17px;
    width: 132px;
    padding-left: 4px;
    padding-right: 2px;
    margin-left:2px;
    background: #423c72;
    display: inline-block;
}

.bedPubmed {
    font-size: 12px;
    height: 17px;
    width: 67px;
    padding-left: 4px;
    padding-right: 2px;
    margin-left:2px;
    background: #3c4f72;
    display: inline-block;
}

.bedTargetMrna {
    font-size: 12px;
    height: 17px;
    width: 101px;
    padding-left: 4px;
    padding-right: 2px;
    margin-left:2px;
    background: #3c6772;
    display: inline-block;
}

.bedMatchedSeq {
    font-size: 12px;
    height: 17px;
    width: 126px;
    padding-left: 4px;
    padding-right: 2px;
    margin-left:2px;
    background: #40723c;
    display: inline-block;
}

.bedMismatches {
    font-size: 12px;
    height: 17px;
    width: 11px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left:2px;
    background: #575757;
    display: inline-block;
}

/*for medium window width bed result table*/
.bedResultHeaderColumn {
    font-size: 12px;
    height: 17px;
    width: 113px;
    padding-left: 4px;
    display: inline-block;
    margin-left: 20px;
    margin-top:3px;
}

.bedResultColumn1 {
    font-size: 12px;
    height: 17px;
    width: 263px;
    padding-left: 4px;
    background: white;
    color: black;
    display: inline-block;
    margin-left: 2px;
    margin-top:3px;
}

.bedResultColumn2 {
    font-size: 12px;
    height: 17px;
    width: 263px;
    padding-left: 4px;
    background: #b4b6eb;
    color: black;
    display: inline-block;
    margin-left: 2px;
    margin-top:3px;
}

.bedResultColumn1S {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    background: white;
    color: black;
    display: inline-block;
    margin-left: 2px;
    width: 1px;
}

.bedResultColumn2S {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    background: #b4b6eb;
    color: black;
    display: inline-block;
    margin-left: 2px;
    width: 1px;
}

.bedResultXS {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    background: white;
    color: black;
    display: block;
    margin: 0 auto;
}

.bedResultXS2 {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    background: #b4b6eb;
    color: black;
    display: block;
    margin: 0 auto;
}

.bedResultHeaderXS {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    display: block;
    margin: 0 auto;
}

#mrnaList {
    width: 944px;
    display: block;
}

.mrnaResultIdHeader {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    background: hsl(300, 100%, 15%);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 2px;
    border-top: solid 1px white;

}

.mrnaResultLocHeader {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    background: hsl(300, 100%, 25%);
    display: block;
    margin: 0 auto;
    margin-top: 3px;
}

.mrnaResultId {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    background: hsl(300, 100%, 80%);
    color: black;
    display: block;
    margin: 0 auto;
}

.mrnaResultLoc {
    font-size: 12px;
    height: 17px;
    padding-left: 4px;
    background: hsl(300, 100%, 70%);
    color: black;
    display: block;
    margin: 0 auto;
}

#returnGObutton {
    background: white;
    color: black;
    border: solid 1px gray;
    max-width: 300px;
    min-width: 100px;
    width: auto;
    height: auto;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

#returnGObutton2 {
    background: white;
    color: black;
    border: solid 1px gray;
    width: 210px;
    height: auto;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -125px;
}

#returnGObutton:hover {
    font-weight: bold;
    text-decoration: underline;
}