{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>psiRbase</title>
    <link rel="stylesheet" href="{% static 'myCSS.css' %}" type="text/css" />
</head>
<body>
<div id="headerBG"></div>
<div id="header">
    <div id="header_content">
        <div class="menu">
            <div id="leftMenuButtons">
                <a href="#homepage" class="menuLinks"><div id="homeMenuButton" class="menuButton"><p id="homeMenuButtonText">HOME</p><div id="mb1UL" class="menuButtonULobject"></div>
                </div></a><a href="#search" class="menuLinks"><div id="searchMenuButton" class="menuButton"><p id="searchMenuButtonText">SEARCH</p><div id="mb2UL" class="menuButtonULobject"></div>
                </div></a><a href="#downloads" class="menuLinks"><div id="downloadsMenuButton" class="menuButton" style="padding-right:30px"><p id="downloadsMenuButtonText">DOWNLOADS</p><div id="mb3UL" class="menuButtonULobject"></div></div></a>
            </div>
        </div>
        <a href="#homepage"><img id="logo" src="{% static 'images/logo.png' %}" /></a>
        <div class="menu" id="rightMenu">
            <div id="rightMenuButtons">
                <a href="#about" class="menuLinks"><div id="aboutMenuButton" class="menuButton" style="padding-left:30px"><p id="aboutMenuButtonText">ABOUT</p><div id="mb4UL" class="menuButtonULobject"></div>
                </div></a><a href="#background" class="menuLinks"><div id="backgroundMenuButton" class="menuButton"><p id="backgroundMenuButtonText">BACKGROUND</p><div id="mb5UL" class="menuButtonULobject"></div></div></a></div>
        </div>
    </div>
</div>
<div id="headerMini">
    <a href="#homepage"><img id="logoMini" src="{% static 'images/logo.png' %}" style="display:inline;position:absolute;left:10px;height:60px;"/></a>
    <div style="display:inline;cursor: default;height:60px;"><div id="miniMenuCurrentSection" title="You are here.">CURRENT-SEC</div></div>
    <img src="{% static 'images/menuExpand_icon.png' %}" id="menuExpandIcon" style="display:inline;float:right;height:60px;cursor:pointer;" />
</div>
<div id="header_content_mini">
    <a href="#homepage" class="menuLinksMini" id="homeMenuButtonMini"><div class="menuButtonMini"><p id="homeMenuButtonTextMini">HOME</p><div id="mb1ULMini" class="menuButtonULobjectMini"></div>
    </div></a><a href="#search" class="menuLinksMini" id="searchMenuButtonMini"><div class="menuButtonMini"><p id="searchMenuButtonTextMini">SEARCH</p><div id="mb2ULMini" class="menuButtonULobjectMini"></div>
    </div></a><a href="#downloads" class="menuLinksMini" id="downloadsMenuButtonMini"><div class="menuButtonMini"><p id="downloadsMenuButtonTextMini">DOWNLOADS</p><div id="mb3ULMini" class="menuButtonULobjectMini"></div>
    </div></a><a href="#about" class="menuLinksMini" id="aboutMenuButtonMini"><div class="menuButtonMini"><p id="aboutMenuButtonTextMini">ABOUT</p><div id="mb4ULMini" class="menuButtonULobjectMini"></div>
    </div></a><a href="#background" class="menuLinksMini" id="backgroundMenuButtonMini"><div class="menuButtonMini"><p id="backgroundMenuButtonTextMini">BACKGROUND</p><div id="mb5ULMini" class="menuButtonULobjectMini"></div></div></a>
</div>

<img id="homepageVid" src="{% static 'images/dna.gif' %}" />

<div id="homepage">

<!--  ~~~may have to update src link to youtube video (remember the thing in proj folder to do that)~~
    <video id="homepageVid" autoplay loop muted>
        <source src="https://redirector.googlevideo.com/videoplayback?clen=11980479&ei=UHp0WsWwE5u7_APZsq6QCw&ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&initcwndbps=246250&sparams=clen%2Cdur%2Cei%2Cgir%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&id=o-ALXNp4xwxkRQgT2NcpZKE5OhBrKaQHqGodgTbnUwhi_1&ratebypass=yes&mn=sn-o097znlr%2Csn-n4v7snee&source=youtube&mm=31%2C29&mv=m&mt=1517582841&ms=au%2Crdu&dur=207.725&ipbits=0&itag=18&key=yt6&mime=video%2Fmp4&signature=D45273990301FEEFBEF438E36CB7457C18801627.3FE9065705D8B7A6CC1E588897D107A49B74997B&lmt=1517509679641151&expire=1517604528&gir=yes&fvip=5&pl=64&requiressl=yes"
                type="video/mp4"/>
    </video>
-->

    <div class="menuDock"></div>
    <div id="homePageContent">
        <div class="pageSection" style="margin-top:30px;margin-bottom:20px;">
            <b>psiRbase</b>: A database containing putative siRNA sequences (psiRNAs) from developmental data sets.
        </div>
        <div class="pageSection">
			This website is a resource for scientists interested in the endo-siRNA population in small RNA datasets.  
        </div>
        <div id="search">
			<div class="pageSection">
				Searches will return any psiRNA/mRNA reverse complementary pairs with up to two mismatches, if desired.<br />
				To query, select the species, choose one of the two search options,
				and type the name of the mRNA or a putative endo-siRNA sequence.
			</div>
            <div id="speciesSelectionContainer">
                <img src="{% static 'images/arrow-left.png' %}" id="speciesLeftArrow" />
                <div id="speciesSelections">
                    <div id="speciesSelection1">
                        <div class="speciesIcon" id="wormIconCont">
                            <img src="{% static 'images/wormIcon.png' %}" id="wormIcon" class="speciesImg" />
                            <p>Caenorhabditis<br /><i>elegans</i></p>
                        </div>
                        <div class="speciesIcon" id="zebrafishIconCont">
                            <img src="{% static 'images/zebrafishIcon.png' %}" id="zebrafishIcon" class="speciesImg" />
                            <p>Danio<br /><i>rerio</i></p>
                        </div>
                        <div class="speciesIcon" id="fruitflyIconCont">
                            <img src="{% static 'images/fruitflyIcon.png' %}" id="fruitflyIcon" class="speciesImg" />
                            <p>Drosophila<br /><i>melanogaster</i></p>
                        </div>
                        <div class="speciesIcon" id="chickenIconCont">
                            <img src="{% static 'images/chickenIcon.png' %}" id="chickenIcon" class="speciesImg" />
                            <p>Gallus<br /><i>gallus</i></p>
                        </div>
                    </div>
                    <div id="speciesSelection2">
                        <div class="speciesIcon" id="humanIconCont">
                            <img src="{% static 'images/humanIcon.png' %}" id="humanIcon" class="speciesImg" />
                            <p>Homo<br /><i>sapiens</i></p>
                        </div>
                        <div class="speciesIcon" id="mouseIconCont">
                            <img src="{% static 'images/mouseIcon.png' %}" id="mouseIcon" class="speciesImg" />
                            <p>Mus<br /><i>musculus</i></p>
                        </div>
                        <div class="speciesIcon" id="seaUrchinIconCont">
                            <img src="{% static 'images/seaUrchin.png' %}" id="seaUrchinIcon" class="speciesImg" />
                            <p>Paracentrotus<br /><i>lividus</i></p>
                        </div>
                        <div class="speciesIcon" id="pigIconCont" style="margin-bottom:0px;">
                            <img src="{% static 'images/pigIcon.png' %}" id="pigIcon" class="speciesImg" />
                            <p>Sus<br /><i>domesticus</i></p>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/arrow-right.png' %}" id="speciesRightArrow" />
            </div>
            <div class="searchType" id="bySirnaSeq">
                Type in siRNA sequence<br />to find potential targets.
            </div>
            <div class="searchType" id="byMrnaName">
                Type in mRNA name<br />to identify antisense siRNAs.
            </div>
			<form action="" method="post">
				{% csrf_token %}
				{{ theForm }}
			</form>
			<input type="submit" value="SEARCH" id="searchGObutton" />
        </div>
    </div>
</div>
<div id="searchResults">
    <div class="pageSection" style="padding-top:40px;word-wrap:break-word;" id="resultsTable">
        Here is where the retrieved data will show...
    </div>
    <div id="returnGObutton">
        Return to Search
    </div>
</div>
<div id="downloads">
    <!-- <img src="images/dna_static_background2.jpg" id="downloadsBG" />
    <div id="downloadsPageContent">
        <div class="pageSection" style="padding-top:20px;">
            Download stuff goes here...
        </div>
    </div> -->
</div>

<div id="about">
    <!-- <img id="aboutPageBG" src="images/dna_static_background.jpg" /> -->
    <div id="aboutPageContent">
		<div class="darkHPsection" style="font-size:14px">
			<b>miRNA, piRNA, and endogenous-small interfering RNAs (endo-siRNAs) are approximately 18-32 nucleotides long and play an important role in gene regulation.  While miRNA and piRNA are highly conserved across species and well annotated,  endo-siRNAs are challenging to identify because they are not well conserved.
			Small RNA libraries across various developmental stages have been collected and aligned to genomes.  Mapped reads have been  further processed to remove known rRNA, tRNA, miRNA, and piRNA sequences.  The remaining putative endo-siRNAs have been annotated, given unique identifiers, and characterized by developmental stage.  Currently, only wild-type small RNA libraries are included.
			</b>
		</div><br/>
		<div class="lightHPsection">
			<b>siRBase</b> At present, SiRBase contains endo-siRNA sequences from four Species: <br />
			<ul>
			<li>Caenorhabdits elegans(ce11)</li>
			<li>Drosophila melanogaster(dm6)</li>
			<li>Danio rerio(danRer10)</li>
			<li>Mus Musculus(mm10)</li>
			</ul>
			<b>More species will be added soon, please stay tuned!!!!</b>
		</div><br />
		<div class="darkHPsection">
			<b> Fasta sequences from acquired datasets were first aligned to the indicated
				genome build using bowtie -v 1 -a --best --strata parameters to get exact genome coordinates. Any fafsta sequences that also mapped to
			a custom small RNA reference including annotated rRNA, tRNA, miRNA, and piRNA were excluded from the results</b>
			<b> Custom RNA reference made using rRNA sequences from https://genome.ucsc.edu/cgi-bin/hgTables, miRNA sequences from http://www.targetscan.org/vert_71/, piRNA sequences from http://regulatoryrna.org/database/piRNA/download.html,
				and tRNA sequences from http://gtrnadb.ucsc.edu/.</b>
		</div><br/>
		<div class="lightHPsection">
			<b>siRBase was created and is managed by Kelly Daescu in the Michael Zhang lab at the University of Texas at Dallas(UTD) <br />
				<b>Collaborators Include:<br />
			<ul>
				<li>Zhenyu Xuan (UTD)</li>
				<li>Scott Robertson(UTSW)</li>
				<li>Rueyling Lin (UTSW)</li>
				<li>Michael Zhang (UTD)</li>
			</ul>
		</div><br/>
		<div class="darkHPsection">
			The Computer Science Department at UTD and their senior design group led by Dr.Ovidiu Daescu created the website and database.<br />
			<b>Senior Design Group:<br />
				<ul>
					<li>Aravind Ashok</li>
					<li>Jamal Whitehead</li>
					<li>Naveed Haque</li>
					<li>Sandeep Shahi Thakuri</li>
					<li>Saivamshi Pasinkanti</li>
				</ul>
		</div><br />
		<div class="lightHPsection">
			For questions or comments, email <u>kellydaescu@utdallas.edu</u> or use the form below:
		</div>
		<div id="after_submit"></div>
		<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
			<div class="row">
				<label class="required" for="name">Your name:</label><br />
				<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
				<span id="name_validation" class="error_message"></span>
			</div>
			<div class="row">
				<label class="required" for="email">Your email:</label><br />
				<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
				<span id="email_validation" class="error_message"></span>
			</div>
			<div class="row">
				<label class="required" for="message">Your message:</label><br />
				<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
				<span id="message_validation" class="error_message"></span>
			</div>

			<input id="submit_button" type="submit" value="Send email" />
		</form>
    </div>
</div>
<div id="background">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'myJavaScript.js' %}" type="text/javascript"></script>
</body>
</html>